@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';

body {
    @include outer-container;
}

.main-heading {
    font-family: $georgia;
}

.instructions {
    font-family: $helvetica;
    font-size: 12px;
}