<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    {% assets 'css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    <h1 class="main-heading">Flask is working!</h1>
    <div class="instructions">
        <p>If you're seeing this page, it means that Flask is up and running. Before running off to play, be sure to change the secret key and database name.
        </p>
    </div>
    {% assets 'js' %}
    <script src="{{ ASSET_URL}}"></script>
    {% endassets %}
</body>
</head>
</html>
